# Кэш и мусор
*.log
*.sqlite
storage/debugbar
storage/*.log

# Node и JS окружение (если не используешь)
node_modules
npm-debug.log

# IDE и ОС
.idea
.vscode
.DS_Store

# Laravel специфичные файлы
.env.testing
.phpunit.result.cache
.php-cs-fixer.cache

# ❗ Оставляем .env и composer.lock для корректной сборки
# ❗ Но ИСКЛЮЧАЕМ vendor — он устанавливается внутри контейнера
vendor/