.git
.gitignore
.dockerignore
Dockerfile
.env
.env.example
.idea
node_modules
vendor
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
storage/logs/*.log
public/storage
# Если есть другие файлы/папки, которые не нужны в образе, добавь их сюда 